/* Fallback styles and root styles */
:root {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/* Center the body content */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* Logo styles */
.logo {
    color: white;
    text-align: center;
    font-family: liberation sans, sans-serif;
}
/* container for the canvas */
#canvasHolder {
    display: block;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 1%;
    width: 45vw;
    height: auto;
    overflow: hidden;
    background-color: red;
    margin-top: 0%;
    cursor: pointer;
}
/* canvas element styles */
#memeEditor {
    display: block;
    width: 100%;
    height: auto;
    user-select: none;
    overflow: inherit;
}
/* controls container */
.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45vw;
    gap: 1rem;
}
/* Text input styles */
.textInput {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: liberation sans, sans-serif;
    box-sizing: border-box;
}
#exportBtn{
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: liberation sans, sans-serif;
    cursor: pointer;
}
.horizGroupImpact {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#advBtn {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: liberation sans, sans-serif;
    cursor: pointer;
}
#advancedSettingsHandler.hidden {
    display: none;
    flex-direction: column;
}
#advancedSettingsHandler.visible {
    display: flex;
}
.advGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.advLabel {
    color: white;
    font-family: liberation sans, sans-serif;
}
.advInput {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: liberation sans, sans-serif;
    cursor: pointer;
}
